.btn {
    color: #fffb;
    width:5em;
    background: #4446;
    border: 1px solid #0001;
    transition: background 0.2s ease;
}
footer {
    color: #fff;
    background: #001;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul,a {
    padding: 10px;
    margin: auto 0;
    text-align: center;
}
@media screen and (max-width: 768px) {
    ul,a {width: 100%;}
}
footer a img {
    width: 75px;
    height: 75px;
}
.btn:hover {
    background: #fff2;
}