.page-header {
    color: #fff;
    background-color: #001;
    background-image: radial-gradient(120deg, #155799, #00050a);
}


.btn {
    color: #fffb;
    width:5em;
    background: #4446;
    border: 1px solid #0001;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #fff2;
}

.main-content{
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .page-header h1 {
        font-size: 3em;
    }
    .page-header h3{
        font-size: 1.75em;
    }
    .main-content{
        padding: 10px 10%;
    }
}